.itemspage section[role=main] {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
}

/* This selector is used to prevent ui-dark/light.css from overwriting changes
   to .win-surface. */
.itemspage .itemslist .win-horizontal.win-viewport .win-surface {
    margin-bottom: 60px;
    margin-left: 115px;
    margin-right: 115px;
    margin-top: 135px;
}

.itemspage .itemslist {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 0;
}

.feed-image {
    background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
	margin:0 15px 0px;
}

.win-listview .win-container .win-itembox {
	background:url(/images/25-transparent-black.png);
}

    .itemspage .itemslist .item {
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr ;
        display: -ms-grid;
        height: 200px;
        width: 250px;
        cursor:pointer;
    }
	
	

        .itemspage .itemslist .item .item-image {
            -ms-grid-row-span: 2;
        }

        .itemspage .itemslist .item .item-overlay {
            -ms-grid-row: 2;
			background:url(/images/50-transparent-black.png);
            padding: 6px 15px;
        }

            .itemspage .itemslist .item .item-overlay .item-title {
                color: rgba(255,255,255,0.87);
                overflow: hidden;
                width: 220px;
            }

            .itemspage .itemslist .item .item-overlay .item-subtitle {
                color: rgba(255,255,255,0.6);
                width: 220px;
            }

@media screen and (-ms-high-contrast) {
    .itemspage .itemslist .item .item-overlay {
        color: WindowText;
    }


}
