

    form .form-group {
        display:-ms-grid;
       -ms-grid-columns: 150px 1fr;

    }

    form label {
         -ms-grid-column: 1;
         padding:10px;
         display:block;
         text-align:right;
    }

    form input {
        -ms-grid-column: 2;
    }

.section {
    padding:50px;
}

#library button {
    margin: 3px;
}

#library h3 {
    border-bottom:1px solid #fff;
    margin-top:30px;
}
